.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  padding: calc(var(--pa1) + 0.5rem) 0;
  box-shadow: 0 -3px 4px rgba(0, 0, 0, 0.3);

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--color-white);
    flex: 1;
  }
}
