.main {
  margin-top: 62px;
  @media screen and (min-width: 600px) {
    width: 80%;
    margin: 0 auto;
    margin-top: 62px;
  }

  @media screen and (min-width: 980px) {
    width: 50%;
    margin: 0 auto;
    margin-top: 62px;
  }
}
