:root {
  --primary-color: #8f55e2;
  --color-black: #000;
  --color-white: #fff;
  --shadow--1: 0 3px 5px rgba(0, 0, 0, 0.3);

  --pa1: 1rem;
  --pa2: 2rem;
  --pa3: 3rem;
  --pa4: 4rem;
  --pa5: 5rem;
  --pa6: 6rem;
  --pa7: 7rem;
  --pa8: 8rem;
  --pa9: 9rem;
  --pa10: 10rem;

  --pa-lg-1: 15rem;
  --pa-lg-2: 20rem;
  --pa-lg-3: 25rem;

  --mg1: 1rem;
  --mg2: 2rem;
  --mg3: 3rem;
  --mg4: 4rem;
  --mg5: 5rem;
  --mg6: 6rem;
  --mg7: 7rem;
  --mg8: 8rem;
  --mg9: 9rem;
  --mg10: 10rem;

  --mg-lg-1: 15rem;
  --mg-lg-2: 20rem;
  --mg-lg-3: 25rem;
}
