</main>

<a href="/new">
    <div class="newbtn">
        <svg class="newbtn__plus">
            <use xlink:href="images/sprite.svg#icon-plus"></use>
        </svg>
    </div>
</a>
<footer class="footer">
    <svg class="footer__icon">
        <use xlink:href="images/sprite.svg#icon-home"></use>
    </svg>

    <svg class="footer__icon">
        <use xlink:href="images/sprite.svg#icon-search"></use>
    </svg>

    <svg class="footer__icon">
        <use xlink:href="images/sprite.svg#icon-heart"></use>
    </svg>

    <svg class="footer__icon">
        <use xlink:href="images/sprite.svg#icon-bin"></use>
    </svg>
</footer>
<script src="js/app.js"></script>
</body>