.btn {
  text-transform: uppercase;
  border: none;
  padding: var(--pa1) 0;
  cursor: pointer;

  &--save {
    width: 90%;
    background-color: var(--primary-color);
    color: var(--color-white);
    font-size: 2rem;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  }

  &__back {
    margin-top: 0.7rem;

    svg {
      transform: rotate(180deg);
    }
  }
}

.newbtn {
  cursor: pointer;
  position: fixed;
  bottom: 5.5rem;
  right: 1rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);

  &__plus {
    width: 3rem;
    height: 3rem;
    fill: #fff;
  }
}
